html {
    box-sizing: border-box;
}

body /*основные стили для страниц*/{    
    padding: 0;
    margin: 0;
    background-color: #849d8f;
    
    background-image: url("../img/gllacy-index-1200.jpg");
    background-repeat: no-repeat;
    background-position: center top 0;
    background-size: auto auto;
    
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 400;    
}

header,
main,
footer /*ширина страницы и ее располодение по уентру*/ {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden /*спрятали не нужные заголовки*/ {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*.button-background /*фон кнопок в обычном состоянии  { 
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);     
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 30px;
}*/

.button-background:hover /*фон кнопок при наведении*/ { /*стилизация кнопок при наведении*/    
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(231,74,53, 0.8) 0%, rgb(242,104,67, 0.8) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
}

.button-background:active /*фон кнопок при нажатии*/ { /*стилизация кнопок при нажатии*/
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);    
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}

.site-navigation,
.site-navigation-catalog, 
.user-navigation,
.features-list,
.breadcrumbs-list,
.filter-list,
.filter-list-fat, 
.filter-list-fillers,
.page ul, 
.footer-social ul,
.about-us ul /*прячем маркеры у списков*/
{
    list-style-type: none;
}

.main-header /*хедер: основное меню, пользвательское меню, слайдер*/ {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1146px;
    height: 610px;
    margin: 10px auto 0;
    box-sizing: inherit;
    background-image: url("../img/ice_cream_1.png");
    background-repeat: no-repeat;
    background-position: right 50px top -15px;
    background-size: 1045px 881px;   
}

.main-navigation /*Логотип, основное меню, пользовательское меню*/ {
    width: 1146px;
    height: 63px;    
    display: flex;
}

.container /*логотип, основное меню*/ {
    display: flex;
    justify-content: flex-start;
    width: 902px;
    align-items: center;
    height: 63px;
}

.main-header-logo /*логотип*/ {
    width: 154px;
    height: 64px;
}

.site-navigation /*основное меню - раскладка*/ {
    display: flex;
    margin: 0;
    padding: 0;    ;
    padding-top: 20px;
    height: 43px;
}

.site-navigation > li > a /*стилизация меню: "Каталог", "Доставка", "О компании"*/ {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
}

.site-navigation-catalog-name {
    padding-left: 23px;
    padding-right: 28px;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    font-weight: 700;
    font-family: Roboto, Arial, sans-serif;
} 

.site-navigation-catalog-name:hover /*стилизация основного меню при наведении*/ {
    background-color: rgb(247, 246, 243);
    background-size: 87px 32px;
    color: #323232;     
}

.site-navigation-catalog-name:active /*стилизация основного меню при нажатии*/ {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    color: #323232;    
}

.site-navigation-catalog-name:focus /*стилизация основного меню при нахождении на странице*/ {
    background-color: rgb(208, 112, 88);
    width: 87px;
    height: 32px;
    color: #ffffff;
}

.site-navigation-catalog /*всплывающее меню*/ {
    display: block;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    background-size: 143px 171px;
}

.site-navigation-catalog li:not(:first-of-type) a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    font-weight: 400;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    background-size: 143px 28px;
}

.site-navigation-catalog a:hover{
  background-color: #fbded7;
}

.site-navigation-catalog a:active{
  background-color: #f6b5a5;
}

.site-navigation-catalog a:visited{
  background-color: #d07058;
}

.site-navigation-catalog-about-us /*левый отступ для выравнивая "О компании" */ {
    padding-left: 29px;
}

.user-navigation /*пользовательское меню*/ {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 35px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    font-family: Roboto, Arial, sans-serif;
    align-self: center;
}

.user-navigation input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
}

.user-navigation li {
    margin: auto;
}

.user-navigation li a /* стилизация текста ссылок в пользовательском меню (вход и корзина) */ {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;    
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    display: block;
    margin-top: 7px;
    margin-left: 45px;
}

.user-navigation .user-navigation-search /* фон для кнопки поиска */ {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.user-navigation .loupe /* значок лупы для кнопки поиска */ {
    background-image: url("../img/loupe_main.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-navigation .user-navigation-entrance /* фон для кнопки входа */ {
    width: 92px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    margin: 0;
    padding: 0;
}

.user-navigation .user-navigation-basket /* фон для кнопки корзины */ {
    width: 101px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    margin: 0;
    padding: 0;
}

.user-navigation li:nth-child(2) /* значок входа для кнопки входа */ {
    background-image: url("../img/entrance_main.svg");
    background-repeat: no-repeat;
    background-position: 18px 6px;
}

.user-navigation li:nth-child(3) /* значок корзины для кнопки корзины */ {    
    background-image: url("../img/basket_main.svg");
    background-repeat: no-repeat;
    background-position: 18px 6px;
}

.user-navigation input, 
.subscription input, 
.modal input /* стилизация текста, вводимого в форму пользователем */ {
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

.search:hover {
    border-radius: 50%;
    background-color: rgb(248, 247, 244);
    background-size: 33px 33px;
}

.login-link:hover {
    background-color: rgb(248, 247, 244);
    background-size: 93px 32px;
    color: #323232;
}

.button-entrance {
    background-size: 100px 44px;    
    font-weight: 700;
    font-family: Roboto, Arial, sans-serif; 
    font-size: 18px;
    line-height: 24px;
}

.difficulty a {
    font-family: Roboto, Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
    color: #323232;
    font-weight: 700;
}

.basket {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
    font-weight: 500;
}

.basket-with-goods {
    font-size: 13px;
    line-height: 16px;
    color: #323232;    
    font-weight: 400;
}

.basket-with-goods span {
    color: #999999;
}

.basket-with-goods p {
    font-size: 15px;
    line-height: 18px;
    color: #323232;    
    font-weight: 700;
}

.basket-with-goods a {
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
}

.blog h1{
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;  
}

.blog a{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 700;
}

.subscription p{
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: 400;
}

.subscription button{
    font-size: 18px;
    line-height: 24px; 
    background-size: 129px 44px;
    font-weight: 700;
}

.subscription input::-webkit-input-placeholder, 
.modal input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.contacts p{
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: 400;
}

.contacts b,
.contacts a{
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    text-decoration: none;
    font-weight: 700;
}

.contacts a:last-child {
   color: #fefefe; 
   background-size: 252px 44px;
    font-weight: 700;
}

.main-footer a {
    font-size: 13px;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
}

.about-us li:first-child a{
    font-weight: 700;
}

.developer a {
    font-size: 12px;
    font-weight: 400;
}

.modal h2 {
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    font-weight: 500;
}

.modal-text {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
}

.modal button {
    font-size: 18px;
    line-height: 24px;
    background-size: 139px 44px;    
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;    
    font-weight: 400;
}

.link-current {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.main h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.preferenses {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.preferenses > label:not(:last-of-type),
.preferenses span,
.preferenses fieldset legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
 
.preferenses button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
    background-size: 148px 41px;
}

.page a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;    
    font-weight: 500;
    text-decoration: none;
}

.page a:hover {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    background-size: 27px 26px;
}

.page a:active {
    color: #353535;  
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    background-size: 27px 26px;
}

.developer span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.header-info {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 72px;
    right: 100px;
    width: 168px;
    height: 45px;
    text-align: right;
}

.header-info p,
.header-info a {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.header-info p {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 5px;
}

.header-info a{
    font-size: 22px;
    line-height: 24px;   
}

.slide1 p /* подпись в слайдере */ {
    display: block;
    position: relative;
    width: 673px;
    height: 115px;
    top: 260px;
}

.slider p{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider a {
    font-size: 32px;
    line-height: 44px;
    background-size: 280px 64px;  
    font-weight: 700;
    color: #ffffff;
    text-align: center;    
}

.slider .button-slider /* кнопка "Давайте оба" в слайдере */ {
    width: 280px;
    height: 55px;
    padding-top: 5px;
    display: block;
    position: relative;
    top: 235px;
    left: 200px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);     
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 30px;
}

.action /* флекс для акций */ {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 320px;    
    box-sizing: inherit; 
    padding: 0;
    margin-top: -18px;    
}

.action-first,
.action-second /* задаем размеры карточек с акциями */ {
    width: 560px;
    height: 230px;
}

.action .button-background /* стилизация кнопок в акциях */ {
    display: block;
    width: 167px;
    height: 35px;
    text-align: center;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);     
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    padding-top: 10px;
    margin-left: 375px;
    margin-top: 44px;
}

.action .action-second .button-background /* изменение ширины и отступов для кнопки "Хочу шоколадки" */ {
     width: 190px;
     margin-left: 350px;
}

.action a /* стилизация ссылок в акциях */ {    
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}
    
.action h2 /* стилизация заголовков в акциях */ {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    display: block;
    padding: 17px 0 0 19px;
    margin: 0;
}

.action p /* стилизация текста в акциях */ {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    display: block;
    padding: 15px 0 0 20px;
    margin: 0;
}

.action-first /* добавляем фон в первую акцию */ {
    background-image: url("../img/crimson_background_.jpg");
    background-repeat: no-repeat;
    margin-left: 14px;
    border-radius: 20px;
} 

.action-second /* добавляем фон во вторую акцию */ {
    background: url("../img/socolad_background_.jpg") no-repeat;
    margin-right: 14px;
    border-radius: 20px;
}

/* Ассортимент */

.range /*флекс для ассортимента на главной странице*/ {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    height: 323px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-sizing: inherit;
    margin-top: -6px;
}

.range > div /*размеры карточек с мороженым */ {
    width: 275px;
    height: 332px;
    margin: 0;
    padding-right: 30px;
}

.range div img /* убираем белые углы у всех карточек с мороженым */ {
    border-radius: 133px;
}

.range > div:last-child /* убираем отступ у последней карточки */ {
    padding: 0;
}

.range .icecream-1::before,
.range .icecream-2::before,
.range .icecream-3::before,
.range .icecream-4::before /* позиционирование надписи Хит */ {
    content: "";
    display: block;
    position: absolute;
    top: 915px;
    left: 100px;
    background-image: url(../img/hit_.png);
    background-position: 0 0;
    width: 61px;
    height: 61px;
    z-index: 1;
}

.range .icecream-2::before /* смещение надписи Хит для второго элемента */ {
    left: 394px;
}

.range .icecream-3::before /* смещение надписи Хит для третьего элемента */ {
    left: 688px;
}

.range .icecream-4::before /* смещение надписи Хит для четвертого элемента */ {
    left: 982px;
}

.icecream p /* стилизация цены в карточках с мороженым */ {
    font-size: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);    
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1125px;
}

.icecream span  /* стилизация "кг" в карточках с мороженым */ {
    font-size: 30px;
}

.range .icecream a, 
.range-catalog .icecream a /* стилизация ссылок с названиями в карточках с мороженым */ {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.range .icecream-2, 
.range .icecream-3,
.range .icecream-4 /* выравниваем второе мороженое */ {
    margin-left: -4px;
}

/*.icecream a:last-of-type /* кнопка быстрый просмотр  {
    font-size: 18px;
}*/

/* Преимущества */

.features /* фон для блока с преимуществами */ {
    width: 1146px;
    height: 307px;
    color: #323232;
    background-color: #eee0c4;
    background-image: url(../img/glacey_background_store_.jpg);
    border-radius: 17px;
}

.features-list /* флекс для преимуществ */ {
    display: flex;
    flex-wrap: wrap;     
    box-sizing: inherit;    
    width: 1049;
    height: 175px; 
    margin: 0 auto;
}

.features-title /*заголовок в преимуществах */ {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 500;
    display: block;
    padding-top: 23px;
    padding-left: 41px;
}

.features .features-ice-cream-list /* картинка мороженки */ {
    background-image: url("../img/small_ice_cream.png");
    background-repeat: no-repeat;
    background-position: 5px 8px;
    width: 539px;
    height: 91px;
}

.features .features-ice-cream /* первое преимущество */ {
    margin: 0;
    padding: 0;
    width: 484px;
    height: 64px;
    margin-left: 64px;
    margin-top: 22px;
}

.features .features-cow-list /* картинка коровы */ {
    background-image: url("../img/cow.png");
    background-repeat: no-repeat;
    background-position: 11px 8px;
    width: 539px;
    height: 91px;
}

.features .features-cow /* второе преимущество */ {
    margin: 0;
    padding: 0;
    width: 484px;
    height: 64px;
    margin-left: 70px;
    margin-top: 22px;
}

.features .features-leaf-list /* картинка листика */ {
    background-image: url("../img/leaf.png");
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 539px;
    height: 91px;
}

.features .features-leaf /* третье преимущество */ {
    margin: 0;
    padding: 0;
    width: 484px;
    height: 64px;
    margin-left: 63px;
    margin-top: 20px;
}

.features .features-thermometer-list /* картинка термометра */ {
    background-image: url("../img/thermometer.png");
    background-repeat: no-repeat;
    background-position: 11px 6px;
    width: 539px;
    height: 91px;
}

.features .features-thermometer /* четвертое преимущество */ {
    margin: 0;
    padding: 0;
    width: 484px;
    height: 64px;
    margin-left: 63px;
    margin-top: 20px;
}

.features .features-list li {
    width: 560px;
}

.features-title {
    width: 1146px;
    margin: 0 auto;
}

.features li{
   font-size: 16px;
   line-height: 22px;
   color: #323232;
   font-weight: 400;  
}




.blog-subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    margin-bottom: 40px;
    height: 222px;    
    box-sizing: inherit;    
}

.blog,
.subscription {
    margin: auto;
    width: 560px;
    height: 222px;
}

.map-contacts {
    margin: 0 auto;
    margin-bottom: 18px;
    height: 433px;    
    box-sizing: inherit;  
    background-image: url("../img/map.png");
    position: relative;
}

.contacts {
    width: 308px;
    height: 302px;
    float: right;
    background-color: #fffffe;
    border-radius: 30px;
    position: absolute;
    right: 27px;
    top: 69px;
}

.main-footer /* флекс для подвала */ {
    display: flex;    
    margin-bottom: 26px;
    height: 83px;    
    box-sizing: inherit;    
}

.footer-social {
    margin: auto;
}

.about-us {
    margin: auto;
}

.developer {
    margin: auto;
}

.breadcrumbs-list {
    display: flex;
    width: 224px;
    justify-content: space-between
}

.filter /*сетка на флексах для фильтров в каталоге*/{
    display: flex;
    width: 864px;
    height: 136px;
    flex-wrap: wrap;
    margin: 0;
}

.filter div:nth-child(1) /*сортировка*/ {
    width: 195px;
    height: 66px;
    margin: 0;
    padding: 0;    
}

.filter div:nth-child(2) /*цена*/ {
    width: 224px;
    height: 66px;
}

.filter div:nth-child(3) /*жирность*/ {
    width: 422px;
    height: 66px;
    margin: 0;
    padding: 0;
}

.filter-list-fat /*флекс для жирности*/ {
    display: flex;
    justify-content: space-between;
}

.filter div:nth-child(4) /*наполнители*/ {
    width: 704px;
    height: 58px;
    margin: 0;
    padding: 0;
}

.filter-list-fillers /*флекс для наполнителей*/ {
    display: flex;
    justify-content: space-between;
}

.filter div:nth-child(5) /*кнопка "применить"*/ {
    width: 150px;
    height: 41px;
}

.range-catalog /*флекс для ассортимента на странице каталога*/ {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    height: 1096px;
    margin: 0 auto 40px;
    flex-wrap: wrap;
    box-sizing: inherit; 
}

.icecream /*задаем ширину и высоту блока с мороженым (картинка + цена + полпись*/ {
    width: 267px;
    height: 329px;
}

.icecream p,
.icecream a /* убираем отступы у абзацев и ссылок */ {
    padding: 0;
    margin: 0;
}

.page-list /* флекс для страниц каталога */ {
    display: flex;
    width: 203px;
    height: 36px;
    justify-content: space-around;
    margin-left: 955px;
} 

.footer-social-list /* флекс для соц. сетей */ {
    display: flex;
    width: 189px;
    height: 41px;
    justify-content: space-between;
}

.about-us-list /* флекс для ссылок "о нас" */ {
    display: flex;
    width: 312px;
    height: 47px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developer /* флекс для разработчика */ {
    display: flex;
    width: 194px;
    height: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}