html {
    box-sizing: border-box;
}

body /*основные стили для страниц*/{    
    padding: 0;
    margin: 0;
    background-color: #849d8f;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 400;    
}

header,
main,
footer /*ширина страницы и ее располодение по уентру*/ {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden /*спрятали не нужные заголовки*/ {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button-background /*фон кнопок в обычном состоянии*/ { 
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);     
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 30px;
}

.button-background:hover /*фон кнопок при наведении*/ { /*стилизация кнопок при наведении*/    
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(231,74,53, 0.8) 0%, rgb(242,104,67, 0.8) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
}

.button-background:active /*фон кнопок при нажатии*/ { /*стилизация кнопок при нажатии*/
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);    
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}

.site-navigation,
.site-navigation-catalog, 
.user-navigation /*прячем маркеры у списков*/
{
    list-style-type: none;
}

.main-header /*хедер: основное меню, пользвательское меню, слайдер*/ {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1146px;
    height: 600;
    margin: 10px auto 40px;
    box-sizing: inherit;
}

.main-navigation /*Логотип, основное меню, пользовательское меню*/ {
    width: 1146px;
    height: 63px;    
    display: flex;
}

.container /*логотип, основное меню*/ {
    display: flex;
    justify-content: flex-start;
    width: 548px;
    align-items: center;
    height: 63px;
}

.main-header-logo /*логотип*/ {
    width: 154px;
    height: 64px;
}

.site-navigation > li > a /*стилизация меню: "Каталог", "Доставка", "О компании"*/ {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
}

.site-navigation-catalog-name:hover {
    background-color: rgb(247, 246, 243);
    background-size: 87px 32px;
    color: #323232;     
}

.site-navigation-catalog-name:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    color: #323232;    
}

.site-navigation-catalog-name:focus {
    background-color: rgb(208, 112, 88);
    width: 87px;
    height: 32px;
    color: #ffffff;
}

.site-navigation-catalog {
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    background-size: 143px 171px;
}

.site-navigation-catalog li:first-of-type a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    font-weight: 700;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    background-size: 143px 28px;
}

.site-navigation-catalog li:not(:first-of-type) a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    font-weight: 400;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
    background-size: 143px 28px;
}

.site-navigation-catalog a:hover{
  background-color: #fbded7;
}

.site-navigation-catalog a:active{
  background-color: #f6b5a5;
}

.site-navigation-catalog a:visited{
  background-color: #d07058;
}

.user-navigation input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
}

.user-navigation input, 
.subscription input, 
.modal input {
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

.search:hover {
    border-radius: 50%;
    background-color: rgb(248, 247, 244);
    background-size: 33px 33px;
}

.login-link:hover {
    background-color: rgb(248, 247, 244);
    background-size: 93px 32px;
    color: #323232;
}

.button-entrance {
    background-size: 100px 44px;    
    font-weight: 700;
    font-family: Roboto, Arial, sans-serif; 
    font-size: 18px;
    line-height: 24px;
}

.difficulty a {
    font-family: Roboto, Arial, sans-serif; 
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
    color: #323232;
    font-weight: 700;
}

.basket {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
    font-weight: 500;
}

.basket-with-goods {
    font-size: 13px;
    line-height: 16px;
    color: #323232;    
    font-weight: 400;
}

.basket-with-goods span {
    color: #999999;
}

.basket-with-goods p {
    font-size: 15px;
    line-height: 18px;
    color: #323232;    
    font-weight: 700;
}

.basket-with-goods a {
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
}


.icecream p{
    font-size: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);    
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    font-weight: 700;
}

.icecream span {
    font-size: 30px;
}

.icecream a{
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
}

.icecream a:last-of-type {
    font-size: 18px;
}

.features h2{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 500;
}

.features li{
   font-size: 16px;
   line-height: 22px;
   color: #323232;
   font-weight: 400;  
}

.blog h1{
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;  
}

.blog a{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 700;
}

.subscription p{
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: 400;
}

.subscription button{
    font-size: 18px;
    line-height: 24px; 
    background-size: 129px 44px;
    font-weight: 700;
}

.subscription input::-webkit-input-placeholder, 
.modal input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.contacts p{
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: 400;
}

.contacts b,
.contacts a{
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    text-decoration: none;
    font-weight: 700;
}

.contacts a:last-child {
   color: #fefefe; 
   background-size: 252px 44px;
    font-weight: 700;
}

.main-footer a {
    font-size: 13px;
    line-height: 18px;
    color: #fefefe;
    font-weight: 400;
}

.about-us li:first-child a{
    font-weight: 700;
}

.developer a {
    font-size: 12px;
    font-weight: 400;
}

.modal h2 {
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    font-weight: 500;
}

.modal-text {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
}

.modal button {
    font-size: 18px;
    line-height: 24px;
    background-size: 139px 44px;    
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;    
    font-weight: 400;
}

.link-current {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.main h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.preferenses {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.preferenses > label:not(:last-of-type),
.preferenses span,
.preferenses fieldset legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
 
.preferenses button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
    background-size: 148px 41px;
}

.page a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;    
    font-weight: 500;
    text-decoration: none;
}

.page a:hover {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    background-size: 27px 26px;
}

.page a:active {
    color: #353535;  
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    background-size: 27px 26px;
}

.developer span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/




.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between; 
    flex-wrap: wrap;
    padding: 0 27px;
    margin-bottom: 40px;
    height: 307px;    
    box-sizing: inherit;    
}

.features-title {
    margin: auto;
}

.features-list {
    margin: auto;
}

.blog-subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    margin-bottom: 40px;
    height: 222px;    
    box-sizing: inherit;    
}

.blog {
    margin: auto;
}

.subscription {
    margin: auto;
}

.map-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
    height: 433px;    
    box-sizing: inherit;  
    background-image: url("map.png");
    background-size: 100% 430px;
}

.contacts {
    margin: auto;
}

.main-footer {
    display: flex;    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 27px; 
    margin-bottom: 26px;
    height: 62px;    
    box-sizing: inherit;    
}

.footer-social {
    margin: auto;
}

.about-us {
    margin: auto;
}

.developer {
    margin: auto;
}



/*сделано*/


.site-navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 394px;
    height: 63px;
}



.user-navigation {
    display: flex;
    width: 293px;
    justify-content: flex-end;
    align-items: baseline;
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    font-family: Roboto, Arial, sans-serif;
}

.user-navigation li {
    margin: auto;
    width: 103px;
    height: 33px;
    padding-left: 25px;
    padding-top: 15px;
}

.user-navigation a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;    
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
}

.user-navigation li:nth-child(1) {
    background-image: url("/img/loupe_main.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.user-navigation li:nth-child(2) {
    background-image: url("/img/entrance_main.svg");
    background-repeat: no-repeat;
    background-position: left;    
}

.user-navigation li:nth-child(3) {    
    background-image: url("/img/basket_main.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.header-info {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 72px;
    right: 27px;
    width: 168px;
    height: 45px;
    text-align: right;
}

.header-info p,
.header-info a {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.header-info p {
    font-size: 14px;
    line-height: 16px;
}

.header-info a{
    font-size: 22px;
    line-height: 24px;   
}

.slide1 {
    width: 1146px;
    height: 532px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/img/ice_cream_1.png");
    background-repeat: no-repeat;
}

.slide1 p {
    display: block;
    width: 673px;
    height: 115px;
}

.slider p{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider a {
    font-size: 32px;
    line-height: 44px;
    background-size: 280px 64px;  
    font-weight: 700;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px;
    margin-bottom: 40px;
    height: 320px;    
    box-sizing: inherit;    
}

.action-first,
.action-second {
    width: 560px;
    height: 230px;
    margin: auto;
}

.action a {
    display: block;
    float: right;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
    
.action h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.action p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.action-first a {   
    background-size: 165px 46px;
}

.action-second a{
    background-size: 189px 45px; 
}

.action-first {
    background-image: url("/img/crimson_background_.jpg");
    background-repeat: no-repeat;
} 

.action-second {
    background: url("/img/socolad_background_.jpg") no-repeat;
}

.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    margin-bottom: 40px;
    height: 323px;    
    box-sizing: inherit; 
}